@font-face {
  font-family: 'Junicode';
  src: url('/assets/fonts/junicode/Junicode.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Junicode Bold';
  src: url('/assets/fonts/junicode/Junicode-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Junicode Italic';
  src: url('/assets/fonts/junicode/Junicode-Italic.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Junicode Bold Italic';
  src: url('/assets/fonts/junicode/Junicode-BoldItalic.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Fira Code';
  src: url('/assets/fonts/firacode/static/FiraCode-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

* {
  @apply selection:bg-red-200 selection:text-red-900;
}

body {
  font-family: 'Junicode', serif;
  @apply bg-red-900;
}

main {
  @apply mx-auto min-h-full max-w-5xl py-16 md:py-0 md:items-center md:justify-center md:grid md:grid-cols-2 md:gap-10;
}

pre {
  @apply rounded-md;
}
code {
  font-family: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  @apply shadow-xl selection:bg-gray-200 selection:text-gray-900;
}

section {
  @apply justify-center;

  &.example-code {
    @apply p-4 text-sm;

    & h3 {
      @apply text-xl md:text-2xl text-gray-300;
    }
  }
}

h1 {
  @apply text-4xl md:text-6xl font-bold text-gray-100;
}

h2 {
  @apply text-2xl md:text-4xl text-gray-200;
}

h3 {
  @apply text-xl md:text-2xl text-gray-300;
}

i {
  @apply text-red-300;
  font-family: 'Junicode Italic', serif;
}

b {
  @apply text-red-300 font-bold;
  font-family: 'Junicode Bold', serif;
}

.btn {
  /*background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgba(30, 35, 90, 0.4);*/
  /*color: #969faf;*/
  /*height: 2.5em;*/
  /*text-transform: uppercase;
  font-weight: i;
  font-size: 1em;
  min-width: 1em;
  line-height: 1em;
  user-select: none;*/

  box-shadow: inset 0 -2px 0 0 #903E3E, inset 0 0 1px 1px #A95A5A, 0 1px 2px 1px rgba(27, 1, 1, 0.4);
  padding: 0.3em 0.8em;
  margin: 0 0.3em;
  @apply text-red-100 text-lg md:text-3xl no-underline flex gap-1 inline-block text-center border-2 border-none cursor-pointer items-center justify-center rounded-lg bg-[linear-gradient(-225deg,rgba(138,62,62,0.5),rgba(163,82,82,0.5))] shadow-[rgba(250,160,160,0.4)]  hover:shadow-[rgba(163,82,82,0.4)] dark:hover:shadow-[rgba(250,160,160,0.4)];

  & svg {
    @apply fill-red-100;
  }
}

.btns {
  @apply flex gap-2 justify-center;
}

footer {
  text-align: center;
  font-size: 1em;
  padding: 2px 0;
  @apply text-gray-400 text-sm;

  & a {
    @apply text-red-200 no-underline;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      @apply text-red-300;
    }
  }
}
